.title {
    margin: 0 auto;
    text-align: center;
    color: $f2eW1-first;
    font-style: italic;
    background-color: $f2eW1-second;
    width: 100%;
    height: 72px;
    line-height: 72px;
}


// .col-8 {
//     @include col(left, 2, 0, 10px);
// }

.row{
    max-width: 620px;
    margin: 0 auto;
}

.selectCh{
    float: left;
    a{
        text-decoration: none;
        color: #000;
    }
    i{
      margin: 0 8px;
    }
}
select{
    width: 120px;
    height: 35px;
    outline: none;
    border: 2px solid #000;
    border-radius: 0;
}


.changeStyle{
    ul{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        // padding-left: 117px;
        line-height: 35px;
    }
}
.block{
    display: inline-block;
    margin:0 8px;
    width: 48px;
    height: 24px;
    border: 1px solid #000;
    border-radius: 20px;
    &:after{
        content: "";
        position: absolute;
        border: 2px solid #000;
        border-radius: 18px;
        padding-top: 18px;
        padding-right: 18px;
        background-color: #000;
    }
}

@include for-size(pad-portrait-only) {
    .row {
            max-width: 380px;
            margin: 0 auto;
    }
  .changeStyle ul{
      float: left;
       display: none;
  }
}

@include for-size(mobile-only){
    select{
        width: 90px;
    }
}




.imgChange{
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
}

.ImageRow {
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 1000px;
    // 
}
.pageItem{
        // display: flex;
    li{
        text-align: center;
            float: left;
    }
    img{
        width: 80px;
        height: 120px;
    }
}

@include for-size(pad-portrait-only){
  
  .imgChange{
      i{
        display: none;
      }
  }
  .ImageRow{
    display: none;
  }
}