
@mixin imgIcon {
    position: relative;
    display: inline-block;
    margin: 20px;
    width: 65px;
    height: 65px;
    background-color: #3469d3;
    border-radius: 20px;
    border: 8px solid #5c5c5c;
}

@mixin imgSize {
    position: relative;
    margin: 0 auto;
    width: 60px;
    transform: translate(-6px, -2px);
}

@mixin imgP{
    position: absolute;
    width: 120px;
    transform: translate(-2px);
}

@mixin arrowBody($w,$h){
    position: relative;
    display: inline-block;
    margin: 0 auto;
    width: $w;
    height: $h;
    background-color: #7b7b7b;
}

@mixin arrowHead($l,$btm){
    content: " ";
    position: absolute;
    left: $l;
    bottom: $btm;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 22.5px 0 22.5px 39.0px;
    border-color: transparent transparent transparent #7b7b7b;
}


body,html{
    background-color: $f2eW1-second;
    color: #fff;

}
*{
    //  border: 1px solid #fff;
}
.header{
    width: 1440px;
    margin-bottom: 150px;
}

.moon{
    display: inline-block;
    margin: 89px 121px;
        box-shadow: 0px 0px 10px 15px rgba(30%, 30%, 40%, 1);
        border-radius: 120px;
}
.title{
        position: relative;
        width: 806px;
        height: 111px;
        font-size: 72px;
        float: right;
        color: #fff;
        right: 320px;
        line-height: 1.5;
        margin-top: 50px;
}
.img{
    @include imgIcon;
}
.size{
        @include imgSize;
}
.block1{
    left: 50px;
    top: 108px;
}
.icon1{
    @include size(60px);
    .p1 {
        @include imgP;
        line-height: 2.5;
    }
}

.block2{
     left: 150px;
     top: 108px;
}
.icon2 {
    @include size(60px);
    .p2 {
        @include imgP;
        line-height: 4;
    }
}

.block3{
    top: 257px;
    right: 170px;
}
.icon3 {
    @include size(45px);
    transform: translate(1px, 1px);
    .p3 {
        @include imgP;
        line-height: 4;
        transform: translate(-5px);
    }
}

.block4{
    top: 257px;
    right: 110px;
}
.icon4 {
    @include size(60px);
    .p4 {
        @include imgP;
        line-height: 4;
    }
}
.block5{
    top: 257px;
    right: 70px;
}
.icon5 {
    @include size(60px);
    .p5 {
        @include imgP;
        line-height: 4;
        transform: translate(4px);
    }
}

.block6{
    top: 167px;
    right: 15px;
}
.icon6 {
    @include size(60px);
    bottom: 8px;
    .p6 {
        @include imgP;
        line-height: 3.5;
        transform: translate(4px);
    }
}

.block7{
    top: 58px;
    left: 54px;
}
.icon7 {
    @include size(40px);
    transform: translate(-1px, 5px);
    .p7 {
        @include imgP;
        line-height: 4.2;
        transform: translate(4px);
    }
}

.block8{
    top: 167px;
    right: 54px;
}
.icon8 {
    @include size(30px);
    transform: translate(0px, -2px);
    .p8 {
        @include imgP;
        line-height: 3.2;
        transform: translate(-1px);
    }
}

.block9{
    top: 280px;
    right: 163px;
}
.icon9 {
    @include size(50px);
    transform: translate(2px, -2px);
    .p9 {
        @include imgP;
        line-height: 3.5;
        transform: translate(5px);
    }
}

.block10{
    top: 58px;
    right: 198px;
}
.icon10 {
    @include size(40px);
    transform: translate(-1px, 5px);
    .p10 {
        @include imgP;
        line-height: 4.3;
        transform: translate(5px);
    }
}

.block11{
    top: 167px;
    right: 307px;
}
.icon11 {
    @include size(40px);
    transform: translate(-2px, 5px);
    .p11 {
        @include imgP;
        line-height: 4.3;
        transform: translate(5px);
    }
}

.block12{
    top: 280px;
    right: 416px;
}
.icon12 {
    @include size(40px);
    transform: translate(-1px, 5px);
    .p12 {
        @include imgP;
        line-height: 4;
        transform: translate(5px);
    }
}

.block13{
    top: 167px;
    right: 347px;
}
.icon13 {
    @include size(50px);
    transform: translate(2px, -2px);
    .p13 {
        @include imgP;
        line-height: 2.5;
        transform: translate(1px);
    }
}

.block14{
    top: -48px;
    left: 1091px;
}
.icon14 {
    @include size(60px);
    transform: translate(-4px, -2px);
    .p14 {
        @include imgP;
        line-height: 3.5;
        transform: translate(10px);
    }
}

.block15{
    top: 60px;
    left: 1000px;
}
.icon15 {
    @include size(50px);
    transform: translate(2px, -2px);
    .p15 {
        @include imgP;
        line-height: 3.5;
        transform: translate(3px);
    }
}

.block16{
    top: 170px;
    left: 873px;
}
.icon16 {
    @include size(50px);
    transform: translate(2px, -2px);
    .p16 {
        @include imgP;
        line-height: 3.5;
        transform: translate(-8px);
    }
}

.block17{
    top: -48px;
    left: 960px;
}
.icon17 {
    @include size(50px);
    transform: translate(-2px, -5px);
    .p17 {
        @include imgP;
        line-height: 2.5;
        transform: translate(-5px);
    }
}

.block18{
    top: 60px;
    left: 880px;
}
.icon18 {
    @include size(50px);
    transform: translate(2px, -15px);
    .p18 {
        @include imgP;
        line-height: 2.5;
        transform: translate(5px);
    }
}

.block19{
    top: 170px;
    left: 742px;
}
.icon19 {
    @include size(60px);
    transform: translate(-5px, -10px);
    .p19 {
        @include imgP;
        line-height: 2;
        transform: translate(5px);
    }
}

.arrow1 {
    @include  arrowBody(100px, 20px);
    left: 138px;
    bottom: 83px;
    &:before {
        @include arrowHead(100px,-11px); 
    }
}

.arrow2 {
    @include arrowBody(60px, 20px);
    bottom: -63px;
    left: 32px;
    &:before {
        @include arrowHead(60px, -11px);
    }
}

.arrow3{
    @include arrowBody(40px, 20px);
        top: 62px;
        left: 137px;
    &:before {
        @include arrowHead(40px, -11px);
    }
}

.arrow4 {
    @include arrowBody(100px, 20px);
    left: 197px;
    bottom: 25px;
    &:before {
        @include arrowHead(100px, -11px);
    }
    &:after {
        content: "";
        position: absolute;
        margin: 0 auto;
        width: 62px;
        height: 100px;
        border-top: 20px solid #7b7b7b;
        border-right: 20px solid #7b7b7b;
        bottom: -40px;
        right: 80px;
    }
}

.arrow5 {
    @include arrowBody(70px, 20px);
    left: 302px;
    bottom: 29px;
    &:before {
        @include arrowHead(70px, -11px);
    }
    &:after {
    content: "";
    position: absolute;
    margin: 0 auto;
    width: 20px;
    height: 200px;
    border-left: 20px solid #7b7b7b;
    border-top: 20px solid #7b7b7b;
    border-bottom: 20px solid #7b7b7b;
    top: -110px;
    left: 30px;
    }
    .trangle1{
        @include arrowHead(70px, -11px);
        top: 98px;
    }
    .trangle2{
        @include arrowHead(70px, -11px);
        top: -123px;
    }
}

.arrow6{
    @include arrowBody(70px, 20px);
    left: 481px;
    bottom: 29px;
    &:before {
        @include arrowHead(70px, -11px);
    }
    &:after {
        content: "";
        position: absolute;
        margin: 0 auto;
        width: 20px;
        height: 200px;
        border-right: 20px solid #7b7b7b;
        border-top: 20px solid #7b7b7b;
        border-bottom: 20px solid #7b7b7b;
        top: -110px;
        left: 0px;
    }
}

.arrow7{
    @include arrowBody(40px, 20px);
    left: 585px;
    bottom: 29px;
    &:before {
        @include arrowHead(40px, -11px);
    }
}

.arrow8{
    @include arrowBody(100px, 20px);
    left: 689px;
    bottom: 5px;
    &:before {
        @include arrowHead(100px, -11px);
    }
    &:after {
        content: "";
        position: absolute;
        margin: 0 auto;
        width: 25px;
        height: 200px;
        border-right: 20px solid #7b7b7b;
        border-top: 20px solid #7b7b7b;
        border-bottom: 20px solid #7b7b7b;
        top: -110px;
        left: 10px;
    }
    .trangle1 {
        @include arrowHead(100px, -11px);
        top: 98px;
        transform: rotate(180deg) translate(120px);
    }

    .trangle2 {
        @include arrowHead(100px, -11px);
        top: -123px;
        transform: rotate(180deg) translate(120px);
    }
    .trangle3{
        @include arrowBody(70px, 20px);
        top: 110px;
        &:before {
            @include arrowHead(70px, -11px);
        }
    }
    .trangle4 {
        @include arrowBody(70px, 20px);
        top: -133px;
        &:before {
            @include arrowHead(70px, -11px);
        }
    }
}


.content{
    display: flex;
    justify-content: space-evenly;
}

.spaceCat{
        position: absolute;
        left: 0;
}

.description{
    display: flex;
    align-items: center;
    margin: 60px 0 0 130px;
    border: 15px solid #0093ff;
    border-radius: 65px;
    line-height: 1.5;
    height: 350px;
    background-color: #fff;
}
.descrContent{
        margin-right: 30px;
}

.smallImg{
    width: 150px;
    height: 150px;
    float: left;
    margin: 0 30px;
    img{
        width: 150px;
        height: 150px;
    }
}
.smallTitle{
        display: inline-block;
        font-size: 25px;
        color: #353535;
}
.refText{
    float: right;
    font-size: 25px;
    color: #353535;
}
.smallContent{
    font-size: 30px;
    color: #7b7b7b;
    width: 700px;
}


.footer{
    display: flex;
    justify-content: space-between;
}

// .footerImg{
//     display: flex;
//     z-index: 1;
//     margin: 250px auto;
// }
.sixCat{
    @include size(250px);
    z-index: 1;
    margin-top: 280px;
    margin-left: 50px;
}
.space{
    z-index: 1;
    margin: 150px 150px 0 0;
    img{
        @include size(200px, 550px);
    }

}
.blob{
    position: absolute;
}