* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: $f2eW1-third;
}

.clearfix {
    @include clearfix();
}

.countainer {
    display: block;
    margin: 0 auto;
}
