* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Yuanti TC','Roboto',sans-serif;
    background-color: $f2eW1-second;
    color: $white;
    width: 1440px;
    transform: translate(1%);
}

.clearfix {
    @include clearfix();
}

.countainer {
    display: block;
    margin: 0 auto;
}



