extends _layout.jade

block chapter1
  #header
    .title
      h1 Comicomic


  #navbar
    .countainer
      .row.clearfix
        .col-8.selectCh
          a(href="index.html") My Hexschool
          <i class="fas fa-caret-right fa-xs"></i>
          select(name="chapter")
            option(value="c1") Chapter 1
            option(value="c2") Chapter 2
          select(name="page")
            option(value="p1") Page 01
            option(value="p2") Page 02
            option(value="p3") Page 03
            option(value="p4") Page 04
            option(value="p5") Page 05
            option(value="p6") Page 06
            option(value="p7") Page 07
            option(value="p8") Page 08
            option(value="p9") Page 09
            option(value="p10") Page 10
            option(value="p11") Page 11
            option(value="p12") Page 12
        .col-4.changeStyle.clearfix
          ul
            li.sum<i class="fas fa-sun"></i>
            li.block
            li.moon<i class="far fa-moon"></i>
        




  #content
    .countainer-c
     .imgChange
        <i class="fas fa-angle-left fa-3x"></i>
        img(src="https://hexschool.github.io/THE_F2E_Design/week5-comic%20viewer/assets/storyboard-1.png", alt="none")
        <i class="fas fa-angle-right fa-3x"></i>
     .ImageRow
        <i class="fas fa-angle-double-left"></i>
        ul.pageItem 
          li
            small.pageNum 01
            img(src="https://hexschool.github.io/THE_F2E_Design/week5-comic%20viewer/assets/storyboard-1.png", alt="none")
          li
            small.pageNum 02
            img(src="https://hexschool.github.io/THE_F2E_Design/week5-comic%20viewer/assets/storyboard-2.png", alt="none")
          li
            small.pageNum 03
            img(src="https://hexschool.github.io/THE_F2E_Design/week5-comic%20viewer/assets/storyboard-3.png", alt="none")
          li
            small.pageNum 04
            img(src="https://hexschool.github.io/THE_F2E_Design/week5-comic%20viewer/assets/storyboard-4.png", alt="none")
          li
            small.pageNum 05
            img(src="https://hexschool.github.io/THE_F2E_Design/week5-comic%20viewer/assets/storyboard-5.png", alt="none")
          li
            small.pageNum 06
            img(src="https://hexschool.github.io/THE_F2E_Design/week5-comic%20viewer/assets/storyboard-6.png", alt="none")
          li
            small.pageNum 07
            img(src="https://hexschool.github.io/THE_F2E_Design/week5-comic%20viewer/assets/storyboard-7.png", alt="none")
          li
            small.pageNum 08
            img(src="https://hexschool.github.io/THE_F2E_Design/week5-comic%20viewer/assets/storyboard-8.png", alt="none")
          li
            small.pageNum 09
            img(src="https://hexschool.github.io/THE_F2E_Design/week5-comic%20viewer/assets/storyboard-9.png", alt="none")
          li
            small.pageNum 10
            img(src="https://hexschool.github.io/THE_F2E_Design/week5-comic%20viewer/assets/storyboard-10.png", alt="none")
          li
            small.pageNum 11
            img(src="https://hexschool.github.io/THE_F2E_Design/week5-comic%20viewer/assets/storyboard-11.png", alt="none")
          li
            small.pageNum 12
            img(src="https://hexschool.github.io/THE_F2E_Design/week5-comic%20viewer/assets/storyboard-12.png", alt="none")
        <i class="fas fa-angle-double-right"></i>


