extends _layout.jade

block index
  .header
    .moon
    .title
      .h1 介面設計師轉職之路
      .p UI Designer Road Map

    .road
      .img
        a(href="https://drive.google.com/drive/folders/1nmO5LFZ60JaqglJUwMbA7U9BzYJHI2Bm")
      .img2
        a(href="")
      .img3
        a(href="")
      .img4
        a(href="")
      .img5
        a(href="")
      .img6  
        a(href="")
      .img7
        a(href="")
      .img8  
        a(href="")
      .img9  
        a(href="")
      .img10  
        a(href="")
      .img11  
        a(href="")
      .img12  
        a(href="")
      .img13  
        a(href="")
      .img14  
        a(href="")
      .img15  
        a(href="")
      .img16  
        a(href="")
      .img17  
        a(href="")
      .img18  
        a(href="")
      .img19  
        a(href="")

    .direction
      .arrow
        a(href="")
      .arrow2  
        a(href="")
      .arrow3  
        a(href="")
      .arrow4  
        a(href="")
      .arrow5  
        a(href="")
      .arrow6  
        a(href="")
      .arrow7  
        a(href="")
      .arrow8  
        a(href="")

  .content
    .spaceCat
      a(href="")
    .description
      .smallImg
        a(href="")
      .smallTitle 設計規範
      .smallContent UI設計跟平面設計最大的不同是，因為具有功能、要被操作且須遵守規範，雖然難啃但不失為初心者必備武器。
    .refence
      .refImg
        a(href="")
      .refText 參考資料
    .padora
      a(href="")
  
  .footer
    .sixCat
      a(href="")
    .space
      a(href="")