extends _layout.jade

block index
  .header
    .moon.show
      img(src="https://github.com/Jimmywei01/TheF2E_W9_skillTree/blob/master/src/images/img_illustration%402x.png?raw=true", alt="none")
    
    .title
      .h1 介面設計師轉職之路
      .p UI Designer Road Map
    .road
      .img
        .size 
          img(src="https://github.com/Jimmywei01/TheF2E_W9_skillTree/blob/master/src/images/img_blade-1.png?raw=true", alt="none" )
          .p 設計規範
      .img
        .size
          img(src="https://github.com/Jimmywei01/TheF2E_W9_skillTree/blob/master/src/images/img_meat.png?raw=true", alt="none")
          .p 爬梳乾貨
      .img3.size
        img(src="", alt="none")
      .img4.size
        img(src="", alt="none")
      .img5.size
        img(src="", alt="none")
      .img6.size  
        img(src="", alt="none")
      .img7.size
        img(src="", alt="none")
      .img8.size  
        img(src="", alt="none")
      .img9.size  
        img(src="", alt="none")
      .img10.size  
        img(src="", alt="none")
      .img11.size  
        img(src="", alt="none")
      .img12.size  
        img(src="", alt="none")
      .img13.size  
        img(src="", alt="none")
      .img14.size  
        img(src="", alt="none")
      .img15.size  
        img(src="", alt="none")
      .img16.size  
        img(src="", alt="none")
      .img17.size  
        img(src="", alt="none")
      .img18.size  
        img(src="", alt="none")
      .img19.size  
        img(src="", alt="none")

    .direction
      .arrow
        img(src="", alt="none")
      .arrow2  
        img(src="", alt="none")
      .arrow3  
        img(src="", alt="none")
      .arrow4  
        img(src="", alt="none")
      .arrow5  
        img(src="", alt="none")
      .arrow6  
        img(src="", alt="none")
      .arrow7  
        img(src="", alt="none")
      .arrow8  
        img(src="", alt="none")

  .content
    .spaceCat
      img(src="", alt="none")
    .description
      .smallImg
        img(src="", alt="none")
      .smallTitle 設計規範
      .smallContent UI設計跟平面設計最大的不同是，因為具有功能、要被操作且須遵守規範，雖然難啃但不失為初心者必備武器。
    .refence
      .refImg
        img(src="", alt="none")
      .refText 參考資料
    .padora
      img(src="", alt="none")
  
  .footer
    .sixCat
      img(src="", alt="none")
    .space
      img(src="", alt="none")