extends _layout.jade

block index
  .header
    .moon.show
      img(src="https://github.com/Jimmywei01/TheF2E_W9_skillTree/blob/master/src/images/img_illustration%402x.png?raw=true", alt="none")
    
    .title
      .h1 介面設計師轉職之路
      .p UI Designer Road Map
    .road
      .img.block1
        .size.icon1 
          img(src="https://github.com/Jimmywei01/TheF2E_W9_skillTree/blob/master/src/images/img_blade-1.png?raw=true", alt="none" )
          .p1 設計規範
      .img.block2
        .size.icon2
          img(src="https://github.com/Jimmywei01/TheF2E_W9_skillTree/blob/master/src/images/img_meat.png?raw=true", alt="none")
          .p2 爬梳乾貨
      .img.block3
        .size.icon3
          img(src="https://github.com/Jimmywei01/TheF2E_W9_skillTree/blob/master/src/images/img_shield.png?raw=true", alt="none")
          .p3 UX思維
      .img.block4
        .size.icon4
          img(src="https://github.com/Jimmywei01/TheF2E_W9_skillTree/blob/master/src/images/img_hat.png?raw=true", alt="none")
          .p4 設計思考
      .img.block5
        .size.icon5
          img(src="https://github.com/Jimmywei01/TheF2E_W9_skillTree/blob/master/src/images/img_horn.png?raw=true", alt="none")
          .p5 心理學
      .img.block6
        .size.icon6
          img(src="https://github.com/Jimmywei01/TheF2E_W9_skillTree/blob/master/src/images/img_hammer.png?raw=true", alt="none")
          .p6 線框稿
      .img.block7
        .size.icon7
          img(src="https://github.com/Jimmywei01/TheF2E_W9_skillTree/blob/master/src/images/img_illustration.png?raw=true", alt="none")
          .p7 插畫
      .img.block8
        .size.icon8
          img(src="https://github.com/Jimmywei01/TheF2E_W9_skillTree/blob/master/src/images/img_sense.png?raw=true", alt="none")
          .p8 美感
      .img.block9
        .size.icon9
          img(src="https://github.com/Jimmywei01/TheF2E_W9_skillTree/blob/master/src/images/img_inspiration.png?raw=true", alt="none")
          .p9 靈感
      .img.block10
        .size.icon10
          img(src="https://github.com/Jimmywei01/TheF2E_W9_skillTree/blob/master/src/images/img_color.png?raw=true", alt="none")
          .p10 配色
      .img.block11
        .size.icon11
          img(src="https://github.com/Jimmywei01/TheF2E_W9_skillTree/blob/master/src/images/img_text.png?raw=true", alt="none")
          .p11 文案
      .img.block12
        .size.icon12
          img(src="https://github.com/Jimmywei01/TheF2E_W9_skillTree/blob/master/src/images/img_pictures.png?raw=true", alt="none")
          .p12 圖庫
      .img.block13
        .size.icon13
          img(src="https://github.com/Jimmywei01/TheF2E_W9_skillTree/blob/master/src/images/img_axe.png?raw=true", alt="none")
          .p13 UI設計
      .img.block14
        .size.icon14
          img(src="https://github.com/Jimmywei01/TheF2E_W9_skillTree/blob/master/src/images/img_book.png?raw=true", alt="none")
          .p14 標註
      .img.block15
        .size.icon15
          img(src="https://github.com/Jimmywei01/TheF2E_W9_skillTree/blob/master/src/images/img_blade.png?raw=true", alt="none")
          .p15 原型
      .img.block16
        .size.icon16
          img(src="https://github.com/Jimmywei01/TheF2E_W9_skillTree/blob/master/src/images/img_timer.png?raw=true", alt="none")
          .p16 版本控制
      .img.block17
        .size.icon17
          img(src="https://github.com/Jimmywei01/TheF2E_W9_skillTree/blob/master/src/images/img_quill.png?raw=true", alt="none")
          .p17 略懂開發
      .img.block18
        .size.icon18
          img(src="https://github.com/Jimmywei01/TheF2E_W9_skillTree/blob/master/src/images/img_sword.png?raw=true", alt="none")
          .p18 出師
      .img.block19
        .size.icon19
          img(src="https://github.com/Jimmywei01/TheF2E_W9_skillTree/blob/master/src/images/img_emblem.png?raw=true", alt="none")
          .p19 厚黑學

    .direction
      .arrow1
      .arrow2  
      .arrow3  
      .arrow4
      .arrow5  
        .trangle1
        .trangle2 
      .arrow6  
      .arrow7 
      .arrow8
        .trangle1
        .trangle2
        .trangle3
        .trangle4    

  .content
    .spaceCat
      img(src="https://github.com/Jimmywei01/TheF2E_W9_skillTree/blob/master/src/images/img_monocat.png?raw=true", alt="none")
    .description
      .smallImg
        img(src="https://github.com/Jimmywei01/TheF2E_W9_skillTree/blob/master/src/images/img_blade-1%402x.png?raw=true", alt="none")
      .descrContent
        .smallTitle 設計規範
        .refText 參考資料
        .smallContent UI設計跟平面設計最大的不同是，因為具有功能、要被操作且須遵守規範，雖然難啃但不失為初心者必備武器。

    .padora
      img(src="https://github.com/Jimmywei01/TheF2E_W9_skillTree/blob/master/src/images/img_padora.png?raw=true", alt="none")
  
  .footer
    .sixCat
      img(src="https://github.com/Jimmywei01/TheF2E_W9_skillTree/blob/master/src/images/img_hexcat.png?raw=true", alt="none")
    .space
      img(src="https://github.com/Jimmywei01/TheF2E_W9_skillTree/blob/master/src/images/img_rocket.png?raw=true", alt="none")
    .blob
      img(src="https://github.com/Jimmywei01/TheF2E_W9_skillTree/blob/master/src/images/img_footer.png?raw=true", alt="none")